.results-container {
    max-height: 620px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: calc(var(--search-padding) * 1px);
    border-radius: 0 0 1.5rem 1.5rem;
}

.results-container:empty {
    display: none;
}

.result-box {
    position: relative;
    border-radius: 0.5rem;
    background-color: var(--result-box-color);
    padding-top: 8px;
    padding-bottom: 8px;
}

.result-box.resume {
    cursor: pointer;
}

/* .result-box:after {
    content: "";
    background: rgb(155, 155, 155);
    position: absolute;
    bottom: 0;
    left: 5px;
    height: 0.1px;
    width: 100%;
} */

.result-box:not(:first-child) {
    margin-top: calc(var(--search-padding) * 1px);
}

.result-text {
    margin-top: 4px;
    line-height: 30px;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 18px;
    color: var(--text-color);
}

.result-label {
    position: relative;
    margin-left: 1rem;
    top: -0.2rem;
    opacity: 0.75;
    font-size: 14px;
    color: var(--secondary-text-color);
}

.result-by {
    margin-left: 1rem;
    font-size: 18px;
    color: var(--text-color);
}

.thumbnail, .thumbnail-gt {
    float: left;
    margin-left: 1rem;
    margin-right: 1rem;
    color: var(--text-color);
}

@media (max-width: 600px) {
    .results-container {
        max-height: 420px !important;
        /* max-height: 70vh; */
    }

    .result-text, .position {
        line-height: 20px;
        font-size: 16px;
    }

    .result-by, .result-label {
        font-size: 12px;
    }

    .thumbnail-gt {
        margin-top: 0.6rem;
    }
}